pkgbase = gnome-wallpaper-switcher
	pkgdesc = Modular CLI wallpaper switcher and daemon for GNOME on Arch Linux
	pkgver = 1.2.0
	pkgrel = 1
	url = https://github.com/lxz-401/gnome-wallpaper-switcher
	arch = any
	license = MIT
	depends = bash
	depends = glib2
	optdepends = libnotify: desktop notifications on wallpaper change

pkgname = gnome-wallpaper-switcher
