[Unit]
Description=GNOME Wallpaper Switcher Daemon
Documentation=https://github.com/lxz-401/gnome-wallpaper-switcher
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/gnome-wallpaper-switcher --daemon
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=graphical-session.target
