#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	# No compilation needed for shell script

override_dh_auto_install:
	$(MAKE) DESTDIR=$$(pwd)/debian/gnome-wallpaper-switcher PREFIX=/usr install
